# OS
.DS_Store
Thumbs.db

# IDE
_.*
.project
.idea
/*.iml
.vscode
!*.cache
.cache
!*.settings
.settings
!*.config
.config
.buildpath
.metadata
.tmp*
*.prefs
.deployables
atlassian-ide-plugin.xml

# Node
**/node_modules
**/npm-debug.log
**/lerna-debug.log

# Build
**/dist
**/coverage

# Project
.size-snapshot.json
*.log
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
jest.config.js
.rts2_cache_esm/
